Archivo movies_dataset.csv  

Transformaciones: Para este MVP no necesitas perfección, ¡necesitas rapidez! ⏩ Vas a hacer estas, y solo estas, transformaciones a los datos:

1. Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila,      ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

2. Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

3. Los valores nulos del campo release date deben eliminarse.

4. De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

5. Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

6. Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [1]:
import pandas as pd
import ast
import numpy as np

In [2]:
# Cargar el archivo CSV proporcionado

movies_df = pd.read_csv('movies_dataset.csv')

C:\Users\Jose Lara\AppData\Local\Temp\ipykernel_12776\3493981199.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('movies_dataset.csv')

In [3]:
# Mostrar las primeras filas para entender la estructura del dataframe
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Empezare con la segunda transformación requerida.  
2. Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [4]:
# Limpiar los valores nulos según la recomendación dada

# Rellenar valores nulos en los campos 'revenue' y 'budget' con 0
movies_df['revenue'] = movies_df['revenue'].fillna(0)
movies_df['budget'] = movies_df['budget'].fillna(0)

Ahora seguiré con la tercera transformación requerida.  
3. Los valores nulos del campo release date deben eliminarse.

In [5]:
# Eliminar filas donde 'release_date' es nulo
movies_df.dropna(subset=['release_date'], inplace=True)
# También se pudo usar la siguiente función
# movies_df = movies_df[movies_df['release_date'].notna()]

Ahora verificaré que las transformaciones anteriores cumplieron su objetivo.

In [6]:
# Mostrar la cantidad de valores nulos restantes por columna
null_values = movies_df.isnull().sum()

null_values

adult                        0
belongs_to_collection    40888
budget                       0
genres                       0
homepage                 37610
id                           0
imdb_id                     14
original_language           11
original_title               0
overview                   941
popularity                   2
poster_path                339
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

Una vez confirmados lo resultados de las transformaciones anteriores, procederé con la siguiente.  
4. De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [7]:
# Convertir la columna 'release_date' al formato AAAA-mm-dd
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')

In [8]:
# Crear la columna 'release_year' extrayendo el año de 'release_date'
movies_df['release_year'] = movies_df['release_date'].dt.year

In [9]:
# Mostrar las primeras filas para verificar los cambios
movies_df[['release_date', 'release_year']].head()

  release_date  release_year
0   1995-10-30        1995.0
1   1995-12-15        1995.0
2   1995-12-22        1995.0
3   1995-12-22        1995.0
4   1995-02-10        1995.0

Ahora realizare la quinta transformación.  
5. Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.  
Para esto necesito que el tipo de dato de las columnas sean números, para ellos procederé a evaluar las columnas y de no ser de tipo numero las convertiré en este tipo de dato.

In [10]:
# Verificar que tipo de dato contienen las columnas 'budget' y 'revenue'
print(movies_df['budget'].dtype)
print(movies_df['revenue'].dtype)

object
float64

Como la columna 'budget' es de tipo object, tengo que tratar a los  
datos de esa columna diferente para normalizarlos como números,  
procederé a aplicarles diversas funciones para pasar la mayor  
cantidad de datos correctamente a tipo número.

Primero identificare las filas que contienen caracteres no numéricos 
para asegurarme de no borrar ningún valor que pudiese convertirse 
a numero como un ingreso con su símbolo de moneda al lado. 
Ejemplo: $5000000

In [11]:
# Filtrar las filas donde los valores contienen caracteres no numéricos, excluyendo puntos decimales
non_numeric_budget_values = movies_df[movies_df['budget'].str.contains(r'[^0-9.]', na=False)]

# Obtener el recuento de los valores no numéricos en la columna 'budget'
non_numeric_count = non_numeric_budget_values['budget'].count()

# Mostrar los valores no numéricos en la columna 'budget'
print(non_numeric_budget_values['budget'])

# Mostrar el recuento
print(non_numeric_count)

19730    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
29503    /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
35587    /zaSf5OG7V8X8gqFvly88zDdRm46.jpg
Name: budget, dtype: object
3

Al revisar, solo encontré 3 filas que contenían valores no numéricos, 
por ende puedo proceder a convertir toda la columna a números 
y los no convertibles (estos 3 valores) se rellenaran como 0

In [12]:
# Convertir la columna 'budget' a numérico, reemplazando valores no convertibles por 0
movies_df['budget'] = pd.to_numeric(movies_df['budget'], errors='coerce').fillna(0)

# Verificar los primeros valores de la columna 'budget' después de la conversión
print(movies_df['budget'].head())

0    30000000.0
1    65000000.0
2           0.0
3    16000000.0
4           0.0
Name: budget, dtype: float64

Ahora comprobare el tipo de dato del campo budget, para confirmar que se transformo al tipo de dato número.

In [13]:
print(movies_df['budget'].dtype)

float64

Ahora puedo crear el campo con el retorno de inversion, llamada 'return'

In [14]:
# Crear la columna 'return' calculando el retorno de inversión
movies_df['return'] = movies_df.apply(
    lambda x: x['revenue'] / x['budget'] if x['budget'] > 0 else 0, axis=1
)

# Verificar los primeros valores de la nueva columna 'return'
print(movies_df[['budget', 'revenue', 'return']].head())

       budget      revenue     return
0  30000000.0  373554033.0  12.451801
1  65000000.0  262797249.0   4.043035
2         0.0          0.0   0.000000
3  16000000.0   81452156.0   5.090760
4         0.0   76578911.0   0.000000

Seguiré con las transformaciones requeridas.  
6. Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [15]:
# Eliminar las columnas especificadas que no serán utilizadas
columns_to_drop = ['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage']
movies_df.drop(columns=columns_to_drop, inplace=True)
# Mostrar la cantidad de valores nulos restantes por columna
# Y asi verificar que las columnas fuesen eliminadas correctamente
null_values = movies_df.isnull().sum()

null_values

belongs_to_collection    40888
budget                       0
genres                       0
id                           0
original_language           11
overview                   941
popularity                   2
production_companies         0
production_countries         0
release_date                 3
revenue                      0
runtime                    249
spoken_languages             3
status                      83
tagline                  24981
title                        3
vote_average                 3
vote_count                   3
release_year                 3
return                       0
dtype: int64

Terminaré con la siguiente transformación.  
1. Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila,      ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

In [16]:
# Desanidar la columna 'belongs_to_collection'
collection_df = movies_df['belongs_to_collection'].dropna().apply(eval).apply(pd.Series)

# Asegurarse de que todos los nombres de columnas sean cadenas antes de renombrar
collection_df.columns = ['collection_' + str(col) for col in collection_df.columns]

# Unir el DataFrame desanidado con el original
movies_df = movies_df.join(collection_df)

# Verificar las nuevas columnas desanidadas
null_values = movies_df.isnull().sum()

null_values

belongs_to_collection       40888
budget                          0
genres                          0
id                              0
original_language              11
overview                      941
popularity                      2
production_companies            0
production_countries            0
release_date                    3
revenue                         0
runtime                       249
spoken_languages                3
status                         83
tagline                     24981
title                           3
vote_average                    3
vote_count                      3
release_year                    3
return                          0
collection_id               40891
collection_name             40891
collection_poster_path      41434
collection_backdrop_path    42119
collection_0                45376
dtype: int64

In [17]:
print(movies_df['collection_0'].head())
filtered_df = movies_df[movies_df['collection_0'].notna()]
print(filtered_df['collection_0'])

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: collection_0, dtype: float64
19730    0.065736
29503    1.931659
35587    2.185485
Name: collection_0, dtype: float64

In [18]:
columns_to_drop = ['collection_0', 'belongs_to_collection']
movies_df.drop(columns=columns_to_drop, inplace=True)

In [19]:
# Desanidar la columna 'genres'
movies_df['genres'] = movies_df['genres'].apply(eval).apply(lambda x: ', '.join([d['name'] for d in x]))

In [20]:
# Intentar desanidar la columna 'production_companies' directamente
movies_df['production_companies'] = movies_df['production_companies'].apply(
    lambda x: ', '.join([d['name'] for d in ast.literal_eval(x)]) if isinstance(x, str) and x.startswith('[') else ''
)

# Verificar los primeros valores para asegurarnos de que se haya realizado correctamente
print(movies_df['production_companies'].head())

0                              Pixar Animation Studios
1    TriStar Pictures, Teitler Film, Interscope Com...
2                         Warner Bros., Lancaster Gate
3               Twentieth Century Fox Film Corporation
4           Sandollar Productions, Touchstone Pictures
Name: production_companies, dtype: object

In [21]:
# Desanidar la columna 'production_countries'
movies_df['production_countries'] = movies_df['production_countries'].apply(
    lambda x: ', '.join([d['name'] for d in ast.literal_eval(x)]) if isinstance(x, str) and x.startswith('[') else np.nan
)

# Verificar los primeros valores para asegurarnos de que se haya realizado correctamente
print(movies_df['production_countries'].head())

0    United States of America
1    United States of America
2    United States of America
3    United States of America
4    United States of America
Name: production_countries, dtype: object

In [22]:
# Desanidar la columna 'spoken_languages'
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(
    lambda x: ', '.join([d['name'] for d in ast.literal_eval(x)]) if isinstance(x, str) and x.startswith('[') else np.nan
)

# Verificar los primeros valores para asegurarnos de que se haya realizado correctamente
print(movies_df['spoken_languages'].head())

0              English
1    English, Français
2              English
3              English
4              English
Name: spoken_languages, dtype: object

In [23]:
null_values = movies_df.isnull().sum()

null_values

budget                          0
genres                          0
id                              0
original_language              11
overview                      941
popularity                      2
production_companies            0
production_countries            3
release_date                    3
revenue                         0
runtime                       249
spoken_languages                3
status                         83
tagline                     24981
title                           3
vote_average                    3
vote_count                      3
release_year                    3
return                          0
collection_id               40891
collection_name             40891
collection_poster_path      41434
collection_backdrop_path    42119
dtype: int64

Archivo credits.csv  
  
Ya que el archivo presenta todos sus datos anidados, tendremos que hacer las siguientes transformaciones

In [24]:
#Librerías necesarias
# import pandas as pd
# import ast

In [25]:
# Leer el archivo CSV
credits_df = pd.read_csv('credits.csv')
print(credits_df.head())

ParserError: Error tokenizing data. C error: Expected 3 fields in line 193, saw 66

In [ ]:
# Eliminar las últimas 42,000 filas
credits_df = credits_df.iloc[:-42000]

In [ ]:
def extraer_director(crew_list):
    try:
        list_aux = ast.literal_eval(crew_list)
        for dic in list_aux:
            if dic.get('job') == 'Director':
                return dic.get('name', 'no registrado')
        return 'no registrado'
    except (ValueError, SyntaxError):
        return 'no registrado'

def extraer_cast(cast_list):
    try:
        if cast_list != '[]':
            list_aux = ast.literal_eval(cast_list)
            return ', '.join([dic['name'] for dic in list_aux])
        else:
            return 'no registrado'
    except:
        return 'no registrado'

credits_df['cast_limpio'] = credits_df['cast'].apply(extraer_cast)
credits_df['director'] = credits_df['crew'].apply(extraer_director)

credits_df_final = credits_df[['id', 'cast_limpio', 'director']]

In [ ]:
print(credits_df_final)

         id                                        cast_limpio  \
0       862  Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...
1      8844  Robin Williams, Jonathan Hyde, Kirsten Dunst, ...
2     15602  Walter Matthau, Jack Lemmon, Ann-Margret, Soph...
3     31357  Whitney Houston, Angela Bassett, Loretta Devin...
4     11862  Steve Martin, Diane Keaton, Martin Short, Kimb...
...     ...                                                ...
3471   5491  John Travolta, Barry Pepper, Forest Whitaker, ...
3472  10560  Amanda Schull, Zoe Saldana, Susan May Pratt, P...
3473  19489  Jamie Foxx, Nia Long, Barry Corbin, John Cullu...
3474  19419  Norm Macdonald, Dave Chappelle, Danny DeVito, ...
3475  23531  Amanda Peet, Brian Van Holt, Jonathan Abrahams...

             director
0       John Lasseter
1        Joe Johnston
2       Howard Deutch
3     Forest Whitaker
4       Charles Shyer
...               ...
3471  Roger Christian
3472  Nicholas Hytner
3473       Steve Rash
3474  Scott Alexander
3475   Peter M. Cohen

[3476 rows x 3 columns]